**

# Allowed things
!mockbook/**
!nginx/**
!scripts/**
!supervisord/**
!docker-entrypoint.sh
!LICENSE
!pyproject.toml
!uv.lock

# Extra exclude from allowed things
**/*~
**/*.log
**/.DS_Store
**/Thumbs.db
**/__pycache__
**/*.md
**/*.rst
